* {
  font-family: "Futura Medium";
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  margin: auto;
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

header {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px 10px;
}

header .logo-img {
  width: 250px;
  margin-top: 40px;
  margin-left: 20px;
}

#my-imgs {
  width: 150px;
  height: 300px;
  border-radius: 11px;
}

/*------------grid styling--------------- */
#my-collection {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
  align-items: stretch;
  justify-items: center;
  justify-content: space-evenly;
}
/*------------end of grid styling--------------- */

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  background-color: #b96a6a;
  height: 60px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

footer img {
  height: 35px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #cecece;
  margin: 10px 0px;
}

.nav-btns {
  display: none; /* only appear on bigger screen*/
  width: 90px;
  height: 35px;
  border: none;
  background-color: #b9b9b9;
  border-radius: 13px;
  color: black;
  font-family: "Futura Bold";
  margin: 10px;
}

.nav-btns:nth-child(3) {
  background-color: #b96a6a;
  color: white;
}
.icon {
  background-color: transparent;
  border: 0;
}

.tabs-btn {
  display: none;
}

#cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
  padding: 15px;
}

.card {
  width: min-content;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 15px;
  max-height: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

.card-img {
  width: 140px;
  object-fit: cover;
  border-radius: 15px;
}

.card-quote {
  margin: 2px;
  font-family: "Futura Bold";
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #b96a6a;
  border-radius: 21px 21px 0px 0px;
  position: fixed;
  left: 0px;
  width: 100%;
  bottom: 59px;
}
.tabsModule {
  width: 100%;
  margin: 16px auto;
}
.tabsModule .tabs {
  display: flex;
  list-style-type: none;
  font-family: sans-serif;
  padding: 0;
}
.tabsModule .tabs ul {
  margin: 0;
  padding: 0;
}
.tabsModule .tabs li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-family: "Futura Bold";
  transition: ease-in-out;
  border-radius: 11px;
  color: white;
}

li:nth-child(1) {
  color: black !important;
  background-color: white;
}

.tabs {
  display: flex;
  justify-content: center;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .tabs-btn {
    display: inline-block;
    width: 90px;
    height: 35px;
    border: none;
    background-color: #b9b9b9;
    border-radius: 13px;
    color: black;
    font-family: "Futura Bold";
    margin: 10px;
  }

  .tabs-btn:nth-child(2) {
    background-color: #b96a6a;
    color: white;
  }

  #cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-img {
    width: 200px;
  }
  header {
    width: 100%;
    align-items: center;
  }

  #logo-img {
    width: 260px;
  }

  p {
    font-size: 20px;
  }
  .nav-btns {
    display: inline-block;
  }

  #my-collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    align-items: stretch;
    justify-items: center;
    justify-content: space-evenly;
    margin: 100px;
    margin-top: 30px;
  }
  footer {
    display: none;
  }
}

/*  Desktop */

@media (min-width: 1023px) {
  .tabs-btn {
    display: inline-block;
    width: 90px;
    height: 35px;
    border: none;
    background-color: #b9b9b9;
    border-radius: 13px;
    color: black;
    font-family: "Futura Bold";
    margin: 10px;
  }

  .tabs-btn:nth-child(3) {
    background-color: #b96a6a;
    color: white;
  }

  #cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card-img {
    width: 230px;
  }
  header {
    width: 100%;
    align-items: center;
  }
  p {
    font-size: 20px;
  }
  #logo-img {
    width: 20%;
  }
  .favorites {
    font-size: 20px;
  }
  .nav-btns {
    display: inline-block;
  }

  #my-collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    align-items: stretch;
    justify-items: center;
    justify-content: space-evenly;
    margin: 130px;
    margin-top: 30px;
  }

  footer {
    display: none;
  }
}
