body{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}
/* Header */
#appsicon {
    width: 250px;
    margin-top: 40px;
    margin-left: 20px;
}
h2{
    font-family: Futura Medium;
    margin-left: 20px;
    font-size: 20px;
}